<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        name="tps_gp_progress"
        description="TPS Graduation Plan Progress Display"
        version="1.0.0">
  <oauth/>
  <autoinstall required="true">
    <autoenable required="true"/>
    <autoredeploy/>
  </autoinstall>
  <publisher name="Tulsa Public Schools">
    <contact phone="918-746-7500" email="devteam@tulsaschools.org"/>
  </publisher>
</plugin>
